html{
    position: relative;
    min-height: 100%;

}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment:inherit;
    background-position: center;
    font-family: 'Lato';
    margin: 0 0 100px;
}

#makeMeScrollable
{
  width:100%;
  height: 380px;
  position: relative;
}

/* Replace the last selector for the type of element you have in
   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
#makeMeScrollable div.scrollableArea img
{
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  /* If you don't want the images in the scroller to be selectable, try the following
     block of code. It's just a nice feature that prevent the images from
     accidentally becoming selected/inverted when the user interacts with the scroller. */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}


.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

.img-zoom {
    width: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}


.book-zoom {
    width: 150px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}


.morecontent span {
    display: none;
}

#footer{
  background:#FFFFFF;
  padding:15px 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  overflow:hidden;
}


#sidebar{
  background:#FFFFFF;
  padding:15px 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 14.5%;
  overflow:hidden;
}



.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}



.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
     background-color: #eee;
}

.sidebar .arrow {
    float: left;
 }

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 10px;
}



#fof{position:relative; width:100%; margin:150px 0; text-align:center;}
#fof .positioned{display:block; width:85%; margin:0 auto; padding:20px; border:1px}
#fof .positioned h1{margin:0 0 0 20px; padding:0; display:inline; font-size:60px; text-transform:uppercase;}
#fof .positioned p{margin:25px 0 0 0; padding:0; font-size:16px;}
#fof a.go-back{position:relative; width:100%; width:100px; padding:15px 0; font-size:20px; text-transform:uppercase; color:#FFFFFF; background-color:#FF6600;}


/* CSS3 Elements Only Work In Latest Browsers */

#fof .positioned, #fof a.go-back, #fof a.go-home{
  /* Rounded Corners */
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -khtml-border-radius:10px;
  border-radius:10px;
  }
